.dropdown-container {
    position: absolute;
    z-index: 1;
    max-height: 250px;
    width: 300px;
    overflow-y: auto;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
    background-color: white;
}
.dropdown-item:hover {
    background-color: lightgrey;
}
