<!-- Text input -->
<input type="text" class="form-control" placeholder="Enter country name"
       [(ngModel)]="country" (ngModelChange)="onCountryChange()">

<!-- Country dropdown -->
<div class="dropdown-container" *ngIf="!matchingCountry">
    <ng-container *ngFor="let availableCountry of availableCountries; trackBy:trackByCode">
        <div class="dropdown-item" appBoldMatch [textToMatch]="country"
             [innerHTML]="availableCountry.description"
             (click)="selectCountry(availableCountry)">
        </div>
    </ng-container>
</div>
