/*
* Countries dropdown
*********************************/
.dropdown-container {
    position: absolute;
    z-index: 1;
    height: 250px;
    overflow-y: auto;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
    background-color: white;
}

.dropdown-item:hover {
    background-color: lightgrey;
}


/*
* Add location buttons
*********************************/
button {
    color: white;
    padding: 5px;
    border-radius: 4px;
}

.default {
    background-color: #4C94C6;
}
.loading {
    background-color: #91B7D1;
}
.done {
    background-color: #2D9043;
}
