<div class="well">
  <h2>Enter country and zipcode:</h2>

  <div class="row">
    <!-- Country -->
    <div class="col-lg-6">
      <input type="text" class="form-control" placeholder="Enter country name" [(ngModel)]="country">
      <div class="dropdown-container">
        <ng-container *ngFor="let availableCountry of availableCountries">
          <div class="dropdown-item" appBoldMatch [textToMatch]="country"
               [innerHTML]="availableCountry" (click)="country = availableCountry"></div>
        </ng-container>
      </div>
    </div>

    <!-- Zipcode -->
    <div class="col-lg-6">
      <input type="text" #zipcode placeholder="Zipcode" class="form-control">
    </div>
  </div>

  <br>

  <app-states-button [initialTemplate]="save" [workingTemplate]="saving"
                     [doneTemplate]="done" [observable]="addLocation$">
  </app-states-button>
  <ng-template #save>
    <button class="default" (click)="addLocation(zipcode.value)">
      Add location
    </button>
  </ng-template>
  <ng-template #saving>
    <button class="loading" [disabled]="true">Adding...</button>
  </ng-template>
  <ng-template #done>
    <button class="done">✓ Done</button>
  </ng-template>
</div>
